
body {
    font-family: 'Barlow', sans-serif;
    background-color: #367761;
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;

    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    

}

*:focus {
    outline: none;
}

.container {
    margin: 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header, footer {
    background-color: #367761c9;
    height:70px;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
}

#calculator {
    display: inline-block;
    background-color: rgb(50, 49, 49);
    border-radius: 25px;
    padding:30px;
    -webkit-box-shadow: 35px 11px 41px 23px rgba(0,0,0,0.75);
    -moz-box-shadow: 35px 11px 41px 23px rgba(0,0,0,0.75);
    box-shadow: 35px 11px 41px 23px rgba(0,0,0,0.75);


}

#display-box {
    border-radius: 15px;
    background-color: black;
    color:white;
    height: 70px;
    margin-bottom: 15px;
    line-height: 70px;
    padding: 0px 20px;
    font-size: 42px;
    text-align: right;
    -moz-box-shadow: inset 0 0 5px #8e8e8e;
    -webkit-box-shadow: inset 0 0 5px #8e8e8e;
    box-shadow: inset 0 0 5px #8e8e8e;
  
}  

.buttons { 
    display: flex;
    flex-direction: row;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    column-gap: 5px;
    row-gap: 5px;
}
button {
    font-family: 'Barlow', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}
button:hover {
    filter: brightness(55%);
  }

.number-btn {
    background-color: whitesmoke;
    justify-self: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 25px;
} 

.operation-btn {
    background-color:goldenrod;
    justify-self: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 25px;
} 

.big-btn {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 120px;
    border-radius: 50px;

}


.operations {
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 5px;
    row-gap: 5px;
}

